
<div class="slider-container">
  <strong>{{score.title}}</strong> - {{score.artist}}
  {{progress-slider value=time step=0.01 min=0 max=score.midi.duration}}
</div>
<button {{action 'toggleSettingsPanelIsOpen'}}>
  <img {{bind-attr class="settingsPanelIsOpen:rotated"}} src="assets/images/gear.svg"/>
</button>
