<div class="flex-one flex-row" style="background: red;">
  {{player-piano midi=score.midi time=time lowNumber=lowNumber highNumber=highNumber}}
  <div class="settings-panel-container {{if settingsPanelIsOpen 'is-open'}}">
    <div class="settings-panel">
      <header>
        Settings
        <button {{action 'toggleSettingsPanelIsOpen'}}>
          <img src="assets/images/cancel.svg"/>
        </button>
      </header>
      {{input type="range" value=lowNumber min=0 max=88}}
      {{input type="range" value=highNumber min=0 max=88}}
    </div>
  </div>
</div>
{{control-bar score=score time=time isPlaying=isPlaying isInterrupted=isInterrupted settingsPanelIsOpen=settingsPanelIsOpen}}
