<div class="flex-one flex-row" style="background: red;">
  {{player-piano midi=score.midi time=time lowNumber=lowNumber highNumber=highNumber}}
  <div class="settings-panel-container {{if settingsPanelIsOpen 'is-open'}}">
    <div class="settings-panel">
      <header>
        Settings
        <button {{action 'toggleSettingsPanelIsOpen'}}>
          <img src="/assets/images/cancel.svg"/>
        </button>
      </header>
      <section>
        (coming soon!)
      </section>
      {{! input type="range" value=lowNumber min=21 max=108}}
      {{! input type="range" value=highNumber min=21 max=108}}
    </div>
  </div>
</div>

<div class="control-bar">
  {{#if midiLoadFailed}}
    <button {{action 'loadMidi'}}> {{! retry button }}
      <img src="/assets/images/retry.svg"/>
    </button>
  {{else}}
    {{#if score.midi.notes}}
      <button {{action 'toggleIsPlaying'}}>
        <img src="/assets/images/{{if isPlaying 'pause' 'play'}}.svg"/>
      </button>
    {{else}}
      <button>
        <img src="/assets/images/loading.svg"/>
      </button>
    {{/if}}
  {{/if}}
  <div class="slider-container">
    <strong>{{score.title}}</strong> - {{score.artist}}
    {{progress-slider value=time min=0 max=score.midi.duration isInterrupted=isInterrupted}}
  </div>
  <button {{action 'toggleSettingsPanelIsOpen'}}>
    <img class="{{if settingsPanelIsOpen 'rotated'}}" src="/assets/images/gear.svg"/>
  </button>
</div>
