<div class="flex-one flex-row" style="background: red;">
  {{player-piano midi=score.midi time=time lowNumber=lowNumber highNumber=highNumber}}
  <div class="settings-panel-container {{if settingsPanelIsOpen 'is-open'}}">
    <div class="settings-panel">
      <header>
        Settings
        <button {{action 'toggleSettingsPanelIsOpen'}}>
          <img src="/assets/images/cancel.svg"/>
        </button>
      </header>
      <div class="slide-control">
        <button>
          <img src="/assets/images/low-volume.svg" />
        </button>
        {{input type="range" value=masterGainValue min=0.001 max=0.201 step=0.001}}
        <button>
          <img src="/assets/images/high-volume.svg" />          
        </button>
      </div>
    </div>
  </div>
</div>

<div class="control-bar">
  {{#if loadMidiFailed}}
    <button {{action 'loadMidi'}}> {{! retry button }}
      <img src="/assets/images/retry.svg"/>
    </button>
  {{else if loadMidiSucceeded}}
    <button id="play-toggle" {{action 'toggleIsPlaying'}}>
      {{!-- Replace with this once broccoli-asset-rev infers dynamic paths
        <img src="/assets/images/{{if isPlaying 'pause' 'play'}}.svg"/>
      --}}
      {{#if isPlaying}}
        <img src="/assets/images/pause.svg"/>
      {{else}}
        <img src="/assets/images/play.svg"/>
      {{/if}}
    </button>
  {{else}}
    <button>
      <img src="/assets/images/loading.svg"/>
    </button>
  {{/if}}
  <div class="slider-container">
    <strong>{{score.title}}</strong> - {{score.artist}}
    {{progress-slider value=time min=0 max=score.midi.duration isInterrupted=isInterrupted}}
  </div>
  <button {{action 'toggleSettingsPanelIsOpen'}}>
    <img class="{{if settingsPanelIsOpen 'rotated'}}" src="/assets/images/gear.svg"/>
  </button>
</div>
