Welcome to noteriver!


<p>
  {{#link-to 'score' firstScore}}
    {{firstScore.title}} - {{firstScore.artist}}
  {{/link-to}}
</p>

<p>
  {{#link-to 'score' secondScore}}
    {{secondScore.title}} - {{secondScore.artist}}
  {{/link-to}}
</p>

<p>
  {{#link-to 'score' thirdScore}}
    {{thirdScore.title}} - {{thirdScore.artist}}
  {{/link-to}}
</p>


