
<div class="app">

  {{outlet 'modal'}}

  <nav class="primary">
    <div class="nav-element">
      {{#link-to 'application' classNames="logo"}}
      Noteriver
      {{/link-to}}
    </div>
    <div class="remainder">
    </div>
    <div id="session" class="nav-element">
      {{#if session.isAuthenticated}}
        {{#if isOpen}}
        <div class="menu">
          <ul>
            <li>Profile</li>
            <li>Account</li>
            <li><button {{action 'logout'}} class="logout">Log out</button></li>
          </ul>
        </div>
        {{/if}}
        <button id="current-session" class="nav-element" {{action 'logout'}}>
          <img src="{{user.avatarUrl}}" class="avatar"/>
          <div class="arrow-down"></div>
        </button>
      {{else}}
      <div class="session nav-element">
        <button {{action 'openModal' 'new-user'}} id="new-user-button">Register</button>
        <button {{action 'openModal' 'new-session'}} id="new-session-button">Log in</button>
      </div>
      {{/if}}
    </div>
  </nav>

  <div class="main">
    {{outlet}}
  </div>

</div>
