<div class="app">

  {{outlet 'modal'}}

  <nav class="primary">
    <div class="nav-element">
      {{#link-to 'application' classNames="logo"}}
        {{partial 'svg/logo'}}
      {{/link-to}}
    </div>

    <div class="nav-element">
      {{#link-to "scores" (query-params search=null) class='search-button'}}
        {{partial 'svg/hand-lens'}}
      {{/link-to}}
    </div>

    <div class="remainder"></div>

    {{#if session.isAuthenticated}}
      <div class="nav-element">
        {{#link-to 'scores/new' id='new-score-button' class='nav-button primary-button'}}
          Upload
        {{/link-to}}
      </div>

      {{#click-outside action=(if sessionMenuIsOpen 'toggleSessionMenuIsOpen') class="nav-element" tagName="div"}}
        <button {{action 'toggleSessionMenuIsOpen'}} id="current-session-button">
          <div id="current-session-button-avatar-container">
            <img src="{{session.currentUser.avatarUrl}}" class="avatar" style="height: 100%;"/>
          </div>

          <div class="arrow-down">
            <div class="menu {{if sessionMenuIsOpen 'faded-in' 'faded-out'}}">
              <ul>
                <li>{{#link-to 'user' session.currentUser.id}} {{session.currentUser.username}}'s profile {{/link-to}}</li>
                <li>{{#link-to 'account.settings'}}Account settings{{/link-to}}</li>
                <li><button {{action 'logout'}} id="destroy-session-button">Sign out</button></li>
              </ul>
            </div>
          </div>
        </button>
      {{/click-outside}}
    {{else}}
      <div class="nav-element">
        <button {{action 'openModal' 'new-session'}} id="new-session-button" class="nav-button">
          Sign in
        </button>
      </div>
      <div class="nav-element">
        <button {{action 'openModal' 'new-user'}} id="new-user-button" class="nav-button primary-button">
          Register
        </button>
      </div>
    {{/if}}
  </nav>

  <div class="main">
    {{outlet}}
  </div>

</div>

{{partial 'svg-defs'}}
