<div class="fullscreen">
  <div class="modal">
    <div class="x" {{action 'closeModal'}}>
      {{partial 'svg/cancel'}}
    </div>
    <div class="modal-header">
      <h1>Signup</h1>
      <p>Creating an account lets you upload scores and participate in the community. And it's free!</p>
    </div>
    <div class="modal-body">
      <p>
        {{input value=session.newUserEmail action='register' id="new-user-email" name="email" placeholder="Email"}}
      </p>
      {{#if session.newUserEmailError}}
        <p>
          <div class="error-message">
            {{session.newUserEmailError}}
          </div>
        </p>
      {{/if}}
      <p>
        {{input value=session.newUserPassword action='register' id="new-user-password" type="password" placeholder="Password"}}
      </p>
      {{#if session.newUserPasswordError}}
        <p>
          <div class="error-message">
            {{session.newUserPasswordError}}
          </div>
        </p>
      {{/if}}
    </div>
    <div class="modal-footer">
      <button {{action 'register'}} id="create-user-button">Continue</button>
    </div>
  </div>
</div>
