<div class="fullscreen">
  <div class="modal">
    <div class="x" {{action 'closeModal'}}>
      {{partial 'svg/cancel'}}
    </div>
    <div class="modal-header">
      <h1>Signup</h1>
      <p>Creating an account lets you upload scores and participate in the community. And it's free!</p>
    </div>
    <div class="modal-body">
      {{input value=email action='register' id="new-user-email" name="email" placeholder="Email"}}
      {{input value=password action='register' id="new-user-password" type="password" placeholder="Password"}}
      {{#if errorMessages.email}}
        <div class="errorMessage">Email {{errorMessages.email}}</div>
      {{/if}}
    </div>
    <div class="modal-footer">
      <button {{action 'register'}} id="create-user-button">Continue</button>
    </div>
  </div>
</div>
