<div class="fullscreen">
  <div class="modal">
    <div class="x" {{action 'closeModal'}}>
      {{partial 'svg/cancel'}}
    </div>
    <div class="modal-header">
      <h1>Log in</h1>
      <p>Welcome back!</p>
    </div>
    <div class="modal-body">
      <p>
        {{input value=session.newSessionEmail action='login' id="new-session-email" name="email" placeholder="Email"}}
      </p>
      {{#if session.newSessionEmailError}}
        <p>
          <div class="error-message">
            {{session.newSessionEmailError}}
          </div>
        </p>
      {{/if}}
      <p>
        {{input value=session.newSessionPassword action='login' id="new-session-password" type="password" placeholder="Password"}}
      </p>
      {{#if session.newSessionPasswordError}}
        <p>
          <div class="error-message">
            {{session.newSessionPasswordError}}
          </div>
        </p>
      {{/if}}
    </div>
    <div class="modal-footer">
      <button {{action 'login'}} id="create-session-button">Continue</button>
    </div>
  </div>
</div>
