
<div class="new-score-container">

  <h2>New score</h2>

  <p class="form-field form-field-text">
    <label>Title</label>
    {{input id='new-score-title' value=model.title}}
  </p>

  <p class="form-field form-field-text">
    <label>Artist</label>
    {{input id='new-score-artist' value=model.artist}}
  </p>


  <p class="form-field form-field-file">
    {{#if model.midi}}
      Midi preview
      {{model.midi.tracks.length}} tracks
      {{model.midi.notes.length}} notes
    {{else if isReadingFile}}
      Reading...
    {{else}}
      {{file-input
        id='new-score-file'
        accept='.mid,.midi'
        fileChanged='fileChanged'}}
      <label for='new-score-file'>
        <p>MIDI</p>
      </label>
    {{/if}}
  </p>

  <button class="primary">
    {{#if isProcessingFile}}
      ...
    {{else}}
      Save
    {{/if}}
  </button>


</div>

