<div class="form-page">
  <div class="content-container container-for-forms">
    <h1>New score</h1>

    <p class="form-field form-field-text">
      <label>Title</label>
      {{input id='new-score-title' value=score.title}}
    </p>

    <p class="form-field form-field-text">
      <label>Artist</label>
      {{input id='new-score-artist' value=score.artist}}
    </p>

    <p class="form-field form-field-file">
      {{file-input
        id='new-score-file'
        accept='.mid,.midi'
        fileChanged='fileChanged'}}
      <label for='new-score-file'>
      {{#if score.midi}}
          <p>{{filename}}</p>
          <p>{{score.midi.tracks.length}} tracks</p>
          <p>{{score.midi.notes.length}} notes</p>
      {{else if isReadingFile}}
          <p>Reading...</p>
      {{else}}
          <p>MIDI</p>
      {{/if}}
      </label>
    </p>

    <button {{action 'createScore'}} id="create-score" class="primary-button form-button">
      {{#if isProcessingFile}}
        ...
      {{else}}
        Save
      {{/if}}
    </button>
  </div>
</div>
