

<button {{action 'toggleIsPlaying'}}>
  <img src="assets/images/{{if isPlaying 'pause' 'play'}}.svg"/>
</button>
<div class="slider-container">
  <strong>{{score.title}}</strong> - {{score.artist}}
  {{progress-slider value=time step=0.01 min=0 max=score.midi.duration isInterrupted=isInterrupted}}
</div>
<button {{action 'toggleSettingsPanelIsOpen'}}>
  <img class="{{if settingsPanelIsOpen 'rotated'}}" src="assets/images/gear.svg"/>
</button>
