<div id="session" class="nav-element">
  {{#if isAuthenticated}}
    {{#if isOpen}}
    <div class="menu">
      <ul>
        <li>Profile</li>
        <li>Account</li>
        <li><button {{action 'logout'}} class="logout">Log out</button></li>
      </ul>
    </div>
    {{/if}}
    <button id="current-session" class="nav-element" {{action 'toggleOpen'}}>
      <img {{bind-attr src=avatarUrl}} class="avatar"/>
      <div class="arrow-down"></div>
    </button>
  {{else}}
  <div class="session nav-element">
    {{render "register"}}
    {{render "log-in"}}
  </div>
  {{/if}}
</div>
